.button {
    color: #000;
    text-align: center;
    font-size:18px;
}
.main{
    background-image: url(https://media.discordapp.net/attachments/806974540139200623/1125143878727651492/image_5.png?width=745&height=468);
    height:32.23rem;
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}