<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Disasters</title>
    <meta charset="UTF-8">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/homepage.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <div class="container-fluid" >
          <div style ="height:60px; text-align:center;color:#C00C0C;" class="container-fluid" >
              <div  style ="text-align: center; "class="row donate-sponsor">
                <br/>
                <a  style ="margin-left:100px;color:#C00C0C;text-decoration:underline;"class="button" id="donate" href="{{url_for('home')}}">Home</a>
                <a  style ="margin-left:70px;"class="button" id="donate" href="{{url_for('earth')}}">EarthQuake Prediction</a>
                <a  style ="margin-left:70px"class="button " id="sponsor" href="{{url_for('cyclone')}}">Hurricane Prediction</a>
                <a  style ="margin-left:70px"class="button " id="sponsor" href="{{url_for('flood')}}">Flood Prediction</a>
                <a  style ="margin-left:120px"class="button" id="sponsor" href="{{url_for('fs')}}">Safety tips</a> 
              </div>
            </div>
    </nav>

       <h2 class=" mt-3" style="text-align:center;font-size:50px;color: black;">Natural Disasters Prediction <br/><br/></h2>
       
       <h3 style="padding-left:8%">Let's Predict</h3>
       <a class="button2" href="{{url_for('earth')}}">Earthquake Prediction</a>
       <a class="button2" href="{{url_for('cyclone')}}">Hurricane Prediction</a>
       <a class="button2" href="{{url_for('flood')}}">Flood Prediction</a>

       <h4 style="padding-left:8%;padding-top:4%">Latest News</h4>
          <section class="left">
            <!-- <h1 class="latest">Latest News</h1> -->
            <div class="below_latest">
                <!-- <img src="https://cdn.discordapp.com/attachments/806974540139200623/1125391783833112648/Group_16.png" alt="donation-img"/> -->
              
                <div class="text">
                    <p>India-Over 100,000 Hit by Floods in 20 districts of Assam</p>
                    <p>22 June,2023</p>
                    <a href="https://floodlist.com/asia/india-floods-assam-june-2023" . target="_blank">Read full
                        article</a>
                </div>
                
                <div class="images-left"style="margin-left:8%;">
                  <img src="https://media.discordapp.net/attachments/806974540139200623/1125355463068889099/image_3.jpg" alt="article_image" srcset="">
                </div>
               
                <div class="text">
                  <p>Cyclone Biparjoy causes large-scale property destruction in Kutch, moves towards Rajasthan</p>
                  <p>16 June,2023</p>
                  <a href="https://www.downtoearth.org.in/news/natural-disasters/cyclone-biporjoy-causes-large-scale-property-destruction-in-kutch-moves-towards-rajasthan-90075" target="_blank">Read
                      full article</a>
              </div>
              <div class="images-left" style="margin-left:8%;">
                <img src="https://media.discordapp.net/attachments/806974540139200623/1125372195112239176/image.png" alt="article_image" srcset="">
                </div>

                <div class="text">
                  <p>Himachal records heavy pre-monsoon rains. Properties worth crores destroyed</p>
                  <p>14 June,2023</p>
                  <a href="https://www.downtoearth.org.in/news/natural-disasters/himachal-which-recorded-heavy-pre-monsoon-rains-battered-as-system-finally-moves-into-state-90272" target="_blank">Read
                      full article</a>
              </div>
              <div class="images-left" style="margin-left:8%;">
                <img src="https://media.discordapp.net/attachments/806974540139200623/1125373617895637063/image.png" alt="article_image" srcset="">
                </div>

                <div class="text">
                    <p>Myanmar, Bangladesh and India - Thousands Evacuate as Powerful Tropical Cyclone ‘Mocha’ Makes
                        Landfall</p>
                    <p>15 May,2023</p>
                    <a href="https://floodlist.com/asia/myanmar-bangladesh-india-cyclone-mocha-may-2023"
                        target="_blank">Read full article</a>
                </div>
                <div class="images-left" style="margin-left:8%;">
                  <img src="https://media.discordapp.net/attachments/806974540139200623/1125356528094945290/image_8.jpg" alt="article_image"/>
                  </div>  


                
                <div class="text">
                    <p>Glacial Lake Outburst Floods Threaten 15 Million People Globally, New Study Reveals</p>
                    <p>8 February,2023</p>
                    <a href="https://floodlist.com/asia/glacial-lake-outburst-floods-risk-wordwide" target="_blank">Read
                        full article</a>
                </div>
                <div class="images-left" style="margin-left:8%;">
                  <img src="https://media.discordapp.net/attachments/806974540139200623/1125356527813935124/image_3.jpg" alt="article_image" srcset="">
                  </div>   
            </div>
        </section>
  </body>
</html>